
<div *ngIf="_notificacionLoaded | async">
    <h2 class="subtitulo">Alerta #{{_notificacion.id}}</h2>

    <form class="editar" [formGroup]="form" *ngIf="formCreated | async">
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" formControlName="usuario" readonly>
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="mensaje" formControlName="mensaje" readonly>
        </div>
        
        <div class="mb-3">
            <label for="nivel" class="form-label">Nivel</label>
            <input type="text" class="form-control" id="nivel" formControlName="nivel" readonly>
        </div>
        <div class="mb-3">
            <label for="empresas">Empresas</label>
            <select class="form-select" multiple formControlName="empresas" id="empresas" [(ngModel)]="selectedEmpresas" disabled>
                <option *ngFor="let empresa of _empresas" [value]="empresa.id">{{empresa.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="activo" formControlName="activo" disabled>
                <label class="form-check-label" for="activo">Activo</label>
            </div>
        </div>
    </form>
</div>