<header class="navbar navbar-dark sticky-top sidebar-color-backgroud flex-md-nowrap p-0 shadow">
    <a class="navbar-brand text-left-Empresa col-md-3 col-lg-2 me-0 px-3" href="#">Sinergy</a>
    <a class="navbar-brand center-text-header col-md-3 col-lg-2 me-0 px-3" href="#">Obligaciones</a>
    <a class="navbar-brand text-right-header col-md-3 col-lg-2 me-0 px-3" href="#" (click)="logout()">Cerrar sesión</a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="navbar-brand center-text-header col-md-3 col-lg-2 me-0 px-3" href="#" (click)="logout()">Cerrar sesión</a>
        </li>
    </ul> -->

</header>
